@import "tailwindcss";

body {
  font-family: var(--font-prompt);
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

button {
  cursor: pointer;
}
